<body style="background-color:purple;">
<link rel="stylesheet" href="{{ url_for('static', filename='css/format.css') }}">
<h1>
  Tiger's Pizza!
  <h1 />
    <h2>
      Your place for the best pizza in Clemson, SC!
    <form method="post" action="/">
      <button type="button">Add Customer</button>
      <button type="button">View Customers</button>
      <button type="button">Add Order</button>
      <button type="button">View Orders</button>
      <button type="button">Add Inventory</button>
      <button type="button">View Inventory</button>
      <button type="button">View Progress Report</button>
    </form>
  </h2> 
</h1>
